
    {% block header %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    {% block css %}
    <link rel="stylesheet" href="css/style.css">
    {% endblock %}
    {% endblock %}

<section class="left">
  {% block left %}
  héééé
  {% endblock %}
</section>

<section class="right">
  {% block right %}
  C'est un autre contenu
  {% endblock %}
</section>

{% block javascript %}
<script src="js/api.js"></script>
{% endblock %}
